<!DOCTYPE html>

<body>
{% if artists %}
    <ul>
    {% for artist in artists %}
        {% if artist.first_name == "entertainer" %}
            <b> Artist: </b>
        {% else %} 
            <b> Venue: </b>
        {% endif %}
        
        <li>Username: {{ artist.username }}</li>
        <form method="POST" action = "loadprofile/">
            {% csrf_token %}
            <input type = "hidden" name = "artistprofile" value = {{artist.userid}}> 
            <input type="submit" value="Load their page!" class= 'btn' />
        </form>
    {% endfor %}

{% endif %}
</body>


<!--http://stackoverflow.com/questions/14728319/send-data-from-template-to-a-view-django-->

<!--for doing it right-->
<!--https://docs.djangoproject.com/en/1.9/ref/templates/builtins/-->





<!--<body>-->
<!--{% if artists %}-->
<!--    <ul>-->
<!--    {% for artist in artists %}-->
<!--        <b> Artist: </b>-->
<!--        <li>Username: {{ artist.username }}</li>-->
<!--        <form method="POST" action = "loadprofile/">-->
<!--            {% csrf_token %}-->
<!--            <input type = "hidden" name = "artistprofile" value = {{artist.username}}> -->
<!--            <input type="submit" value="Load their page!" class= 'btn' />-->
<!--        </form>-->
<!--    {% endfor %}-->

<!--{% endif %}-->
<!--</body>-->
