<form method="POST" action = "maxlogout/">
    {% csrf_token %}
    <br> <input type="submit" value="Logout" class= 'btn' /><br>
</form>


{% if yourtasks %}
    <ul>
    {% for task in yourtasks %}
        <b> Task: </b>
        <li>Owner: {{ task.owner }}</li>
        <li>Title: {{ task.title }}</li>
        <li>Description: {{ task.description }}</li>
        {% if task.complete %}
            <li>You are done with this task! Congratulations!</li>
            <form method="POST" action = "makecomplete/">
                {% csrf_token %}
                <input type = "hidden" name = "taskID" value = {{task.id}}> 
                <input type="submit" value="Mark Incomplete :(" class= 'btn' />
            </form>
        {% else %}
            <li>Please continue working on this task!</li>
            <form method="POST" action = "makecomplete/">

                {% csrf_token %}
                <input type = "hidden" name = "taskID" value = {{task.id}}> 
                <input type="submit" value="Mark Complete!" class= 'btn' />
            </form>
        {% endif %}
        {% if task.owner = id %}
            <form method="POST" action = "delete/" info = {{task.id}}>
                {% csrf_token %}
                <input type = "hidden" name = "taskID" value = {{task.id}}> 
               <input type="submit" value="Delete the task!" class= 'btn' /><br>
            </form>
        {% endif %}
        <hr color="#c7c34c" size="2" width="100%">
    {% endfor %}
    </ul>
{% else %}
    <p>You have nothing to do.</p>
{% endif %}


<b>Add a task down here!</b>
<form method="POST" action = "addtask/">
    {% csrf_token %}
    {{ form }}
   <br> <input type="submit" value="Get to work!" class= 'btn' /><br>
</form>

