

<!--<form action="/login/" method="post">-->
<!--    <label for="your_name">Your name: </label>-->
<!--    <input id="your_name" type="text" name="your_name" value="{{ current_name }}"><br>-->
<!--    <label for="you_password">Your Password: </label>-->
<!--    <input id="your_name" type="password" name="your_password" value="{{ current_password }}">-->
<!--    <input type="submit" value="OK">-->
<!--</form>-->

<b>Please Login Here:</b>
<form method="post" action = "/login/">
    {% csrf_token %}
    {{ form }}
   <br> <input type="submit" value="login" class= 'btn' /><br>
</form>

<b>Please Register here:</b>
<form method="post" action = "/register/">
    {% csrf_token %}
    {{ form2 }}
   <br> <input type="submit" value="Register" class= 'btn' />
</form>